$color-theme: #4251f6;

$color-background: #f1f1f1;

$color-font: #ffffff;

$sub-color-1: #a5bdf9;
$sub-color-2: #7876d7;
$sub-color-3: #5175fb;
$sub-color-4: #75d4d7;
$sub-color-5: #6dc78b;

$sub-color-6: #0ab606;
$sub-color-7: #f5ba5d;
$sub-color-8: #e9a52e;
$sub-color-9: #d57584;
$sub-color-10: #ff0000;

$sub-color-11: #79080d;
$sub-color-12: #666666;
$sub-color-13: #445a77;
$sub-color-14: #303133;
$sub-color-15: #999999;
