@import "variable";

.layout-body {
    height: 100%;
    display: flex;
    overflow-y: hidden;
}

.right-view{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.layout-inner{
    flex: 1 1 auto;
    display: flex;
}
.layout-content{
    flex: 1 1 auto;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px 0px 0px 20px;
    box-shadow:0 10px 10px #aaaaaa;;
    position: relative;
    overflow: hidden;

    width: 100%;
    display: flex;
    .layout-content-inner{
        flex: 0 0 100%;
        overflow-y: hidden;
    }
}
.layout-content.left-menu-close{
    margin-left: 30px;
}

.home-back{
    &.left-menu-open{
        position: absolute;
        width: 100%;
        height: 330px;
        z-index: -1;
        //background-color: $color -theme;
    }
    &.left-menu-close{
        position: absolute;
        width: 100%;
        height: 0;
        z-index: -1;
        //background-color: $color -theme;
    }
}
.home-whole-back{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-color: $color-background;
}
.header-menu.color-theme-font {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    div,.iconfont{
        display: inline-block;
        color: rgba(255,255,255,0.60);
        margin-left: 5px;
    }
    &.is_active{
        div,.iconfont{
            color: white;
        }
    }
    &:hover{
        div,.iconfont{
            color: white;
        }
        //background-color: $color -theme;
        -webkit-filter: brightness(125%); /* Chrome, Safari, Opera */
        filter: brightness(125%);
    }
}
.header-menu.color-picker{
    div,.iconfont{
        display: inline-block;
    }
    &:hover{
        //background-color: $color- theme;
        -webkit-filter: brightness(125%); /* Chrome, Safari, Opera */
        filter: brightness(125%);
    }
}
.innertable-right{
    width: 375px;
    .header-menu-right{
        padding: 34px 25px;
        color: rgba(255,255,255,0.60);
        width: 76px;
        .iconfont{
            font-size: 26px;
            color: rgba(255,255,255,0.60);
        }

    }
    .header-menu-right.menu-right-popover{
        padding: 29px 20px;


    }
    .select_icon{
        .iconfont{
            font-size: 20px;
            display: inline-block;
            margin-right: 15px;
            color: rgba(255,255,255,0.60);
        }
    }
}
//修改快捷菜单 按钮 及提示框
.menu-item-popover{
    padding: 5px 5px!important;
    border: 0!important;
    border-radius: 0!important;
    transition: all 0s!important;
    .left-menu-open &{
        //background-color: $color- theme!important;
    }
    .left-menu-open &.is_open{
        background-color: rgba(255,255,255,0.6)!important;
        .iconfont{
            //color: $color- theme!important;
        }
    }
    .left-menu-close &.is_open{
        background-color: rgba(200,200,200,0.5)!important;
    }
}
.menu-popover-body {
    //border-top-right-radius: 0!important;
    border-radius: 0 !important;
    width: 280px !important;
}

.product_table{
    color: rgba(255,255,255,0.60);

}

.div-header.left-menu-open{
    .select_product{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        .el-input__inner{
            color: rgba(255,255,255,0.60);
            background-color: rgba(255,255,255,0);
            border-width: 0;
            font-size: 16px;
            width: 100px;
            padding-left: 0;
        }
        .el-input{
            .el-select__caret{
                color: rgba(255,255,255,0.60)!important;
            }
        }
    }
}

.div-header.left-menu-close{
    background-color: #ffffff;
    padding-left: 30px;
    .header-menu{
        .iconfont,div{
            color: #606266;
        }
        &.is_active{
            .iconfont,div{
                //color:$color -theme
            }
        }
        &:hover{
            background-color: white;
            .iconfont,div{
                //color:$color- theme
            }
        }
    }
    .innertable-right{
        .dis_table_cell{
            .iconfont{
                //color:  $color- theme!important;
            }
        }
    }
    .innertable-right .header-menu-right .iconfont{
        //color: $color -theme!important;
    }

    .select_product{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        .el-input__inner{
            //color:$color -theme;
            background-color: rgba(255,255,255,0);
            border-width: 0;
            font-size: 16px;
            width: 100px;
            padding-left: 0;
        }
        .el-input{
            .el-select__caret{
                //color:$color -theme;
            }
        }
    }

}

